@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {
  background-color: #f3f4f6;   /* gris clair */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}